<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <div class="col-md-12">
          <p class="border border-info rounded">Patients Management Information System is under construction.</p>
          <% if (user.id) { %>
          <a href="/visit" class="btn btn-primary" >Приём пациента</a>
          <% }%>
          <ul>
          <% users.forEach(function(user){ %>
            <li>
              ID: <%= user.id %> <br>
              Email: <%= user.email %> <br>
              Имя: <%= user.firstname %> <br>
              Фамилия: <%= user.lastname %>
            </li>
            <br>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
    
<% include layout/footer.ejs %>