<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<body>
    <a href="/hello">
        <%= data%>
    </a>
    <br> Patients Management Information System is under construction.
</body>

</html>