<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <%= visit.id %>
      </div>
    </div>
  </div>
  
  <script src="/js/visit.js" ></script>
<% include layout/footer.ejs %>