<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <a href="javascript:history.back()">Назад</a>
    <form method="POST">
        Логин: <input type="text" name="login"><br>
        Пароль: <input type="text" name="password"><br>
        Имя: <input type="text" name="firstname"><br>
        Фамилия: <input type="text" name="lastname"><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>