<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <br> Patients Management Information System is under construction. <br>
        <h3>Visit page</h3>
        <a href="./">На главную</a>
      </div>
    </div>
  </div>
    
<% include layout/footer.ejs %>