<form id="complaint-form">
  <h6 class="form-section-title">Жалобы</h6>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="complaint-textarea"></label>
      <textarea class="form-control" name="complaintDescription" id="complaint-textarea" rows="5" placeholder="Подробное описание"></textarea>
    </div>
  </div>
  <h6 class="form-section-title">Анамнез</h6>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="anamnesis-duration" >Болеет в течение</label>
      <input type="text" id="anamnesisDuration" class="form-control" placeholder="введите число от 0">
    </div>
    <div class="form-group col-md-4">
      <label for="anamnesis-duration-dimension-select" >Период</label>
      <select class="form-control" name="anamnesisDurationDimension" id="anamnesis-duration-dimension-select">
        <option value="" disabled selected>Выберите</option>
        <option value="day">день</option>
        <option value="month">месяц</option>
        <option value="year">год</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <textarea class="form-control" name="anamnesisDescription" id="anamnesis-textarea" rows="5" placeholder="Подробное описание"></textarea>
    </div>
  </div>
  
</form>
<button class="btn btn-success next-visit-section-btn" type="button" data-next="review">Далее</button>