<form id="diagnosis-from">
  <h6 class="form-section-title">Диагноз</h6>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="diagnosisMain-textarea">Основной диагноз</label>
      <textarea class="form-control" name="diagnosisMain" id="diagnosisMain-textarea" rows="3" placeholder="Основной диагноз"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="diagnosis-textarea">Диагноз</label>
      <textarea class="form-control" name="diagnosis" id="diagnosis-textarea" rows="3" placeholder="Диагноз"></textarea>
    </div>
  </div>
  
</form>
<button class="btn btn-success next-visit-section-btn" type="button" data-next="prescriptions">Далее</button>