<ul class="nav flex-column" data-section="overview">
  <li class="" >
    <span class="nav-header" >Оглавление</span>
  </li>
  <li class="nav-item" data-group="general">
    <span class="nav-link nav-subtitle" >Общее</span>
    <ul class="nav-sub flex-column">
      <li class="nav-subitem" data-desc="bodyParameters">Параметры тела</li>
      <li class="nav-subitem" data-desc="breath">Дыхание</li>
      <li class="nav-subitem" data-desc="pressure">Давление</li>
      <li class="nav-subitem" data-desc="habits">Вредные привычки</li>
    </ul>
  </li>
  <li class="nav-item" data-group="brain">
    <span class="nav-link nav-subtitle" >Мозг</span>
    <ul class="nav-sub flex-column">
      <li class="nav-subitem" data-desc="ONMK">ОНМК</li>
      <li class="nav-subitem" data-desc="TIA">ТИА</li>
    </ul>
  </li>
</ul>