<form id="prescriptions-from">
  <h6 class="form-section-title">Назначения</h6>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="prescriptions-textarea">Основной диагноз</label>
      <textarea class="form-control" name="prescriptions" id="prescriptions-textarea" rows="3" placeholder="Назначения"></textarea>
    </div>
  </div>
</form>