<ul class="nav flex-column">
  <li class="" >
    <span class="nav-header" >Оглавление</span>
  </li>
  <li class="nav-item" >
    <span class="nav-link nav-subtitle" >Раздел 1</span>
    <ul class="nav-sub flex-column">
      <li class="nav-subitem">Подраздел 1</li>
      <li class="nav-subitem">Подраздел 2</li>
    </ul>
  </li>
  <li class="nav-item" >
    <span class="nav-link nav-subtitle" >Раздел 2</span>
    <ul class="nav-sub flex-column">
      <li class="nav-subitem">Подраздел 1</li>
      <li class="nav-subitem">Подраздел 2</li>
    </ul>
  </li>
</ul>